@charset "utf-8";

// 공통
@import "reset";

$appPath: "/assets";

$c-blue: #171c61;
$c-white: #fff;
$c-black: #000;
$c-black2: #222;
$c-gray: #e6e6e6;

@mixin content1() {
  padding: 4rem 2rem 0;
}

.dim {
  opacity: 0.7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $c-black;
  z-index: 22;
}

// layout
.wrap {
  background-color: $c-blue;
}

.headerWrap {
  position: relative;
  padding: 4.3rem 0 1rem;
  height: 11.7rem;
  margin: 0 auto;
}

.headerTitle {
  line-height: 6.4rem;
  text-align: center;
  color: $c-white;
  font-weight: 400;
  font-size: 1.8rem;
}

.navBtn {
  position: absolute;
  right: 2.5rem;
  top: 6.5rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0;
  background-image: url(#{$appPath}/images/Hamburger_MD.png);
  background-repeat: no-repeat;
}

.navWrap {
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  max-width: 34rem;
  width: calc(100% - 3.5rem);
  height: 100vh;
  padding-bottom: 1rem;
  background: $c-white;
  z-index: 99;

  header {
    display: flex;
    align-items: center;
    height: 15rem;
    padding: 6rem 2.4rem 4rem;
    background: $c-blue;

    img {
      width: 5rem;
      height: 5rem;
      margin-right: 0.8rem;
      border-radius: 100%;
    }

    p,
    button {
      font-size: 1.8rem;
      color: $c-white;
      font-weight: 200;
    }

    button {
      border-bottom: 0.2rem solid $c-white;
    }
  }
}

.navList {
  padding: 0 1.6rem;

  > li {
    border-bottom: 0.1rem solid $c-gray;

    .first {
      width: 100%;
      line-height: 7rem;
      padding: 0 2.4rem 0 5rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: $c-black2;
      text-align: left;
      background-size: 3rem, 2.4rem;
      background-position: 1.5rem, right 0.8rem top 50%;
      background-repeat: no-repeat;
    }

    .gaa {
      background-image: url(#{$appPath}/images/ico-gaa.png);
    }
    .swing {
      background-image: url(#{$appPath}/images/ico-swing.png);
    }
    .compare {
      background-image: url(#{$appPath}/images/ico-compare.png),
        url(#{$appPath}/images/ico-arrow.png);
    }
    .rank {
      background-image: url(#{$appPath}/images/ico-rank.png),
        url(#{$appPath}/images/ico-arrow.png);
    }
    .commu {
      background-image: url(#{$appPath}/images/ico-commu.png);
    }

    ul {
      margin: 0 0 2rem 5rem;

      button {
        height: 4rem;
        font-size: 1.4rem;
        color: $c-black2;
      }
    }
  }
}

.navSetting {
  position: absolute;
  top: 7rem;
  right: 7.4rem;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background: url(#{$appPath}/images/btn-setting.png) no-repeat 50% / 100%;
}

.navClose {
  position: absolute;
  top: 7rem;
  right: 2.4rem;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background: url(#{$appPath}/images/btn-close.png) no-repeat 50% / 100%;
}
/* 김민우 */

.h153 {height:15.3rem;}
.h145 {height:14.5rem;}
.h120 {height:12rem;}
.h90 {height:9rem;}
.pdlr20 {padding :0 2rem;}


.content {
  background-color: $c-white;
}
.contentWrap {
  background-color: $c-white;
  border-radius: 1.2rem 1.2rem 0px 0px;
}
.contentWrap1 { padding: 4rem 2rem 0;}
.contentBox {
  margin: 2rem 0;
  width: 100%;
  border: 0.1rem solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  &:first-child {
    margin-top: 0;
  }
}

.btn {
  width:100%;
  height:6rem; 
  border-radius: 1.2rem;
}

.gray {
  background-color: #dadada;
  color: #666666;
}
.black {
  background-color: #000000;
  color: #ffffff;
}

/* image */
.h3Title1 {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-size:1.6rem;
  color:#222222;
}
.imageWrap {
  display: flex;
  flex-wrap:wrap;
  position:relative;
  margin-top : 4rem ;
}
.imageContent { 
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  margin-top: 2.4rem;
  width : 100%;
  border-radius: 1.2rem;
}
.imageList{ 
    margin:3.4rem 0 0 1.6rem; 
    width :calc((100% - 1.6rem)/ 2);
    height:18.4rem;
    &:nth-child(odd){
    margin-left:0;
  }
    &:nth-child(-n + 2){
      margin-top:0;
    } 
    
  }
.imageBox {
  width:100%;
  height:13rem;
  background: #C4C4C4;
  border-radius: 1.2rem;    
}

  
  .textName{

    position: relative;
    margin-top:1rem;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .textSub {
    display: flex;
    justify-content: space-between;
    position:relative;
    margin-top:1rem;
    .heartBtn {
      font-weight: 400;
      font-size: 1.2rem;
      color:#000000;
      .icoHeart {
        display: inline-block;
        position:relative;
        margin-right:0.4rem;
        width:1.2rem;
        height:1.1rem;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: 1.2rem;
        background-image: url(#{$appPath}/images/ico-heartOn.png);
      }
      .icoHeartOff {
        display: inline-block;
        position:relative;
        margin-right:0.4rem;
        width:1.2rem;
        height:1.1rem;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: 1.2rem;
        background-image: url(#{$appPath}/images/ico-heartOff.png);
      }
  }
  .day{
    font-weight: 400;
    font-size: 1.2rem;
    color:#666666;
  }


}